{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<main>
    <div>
        <h1>About</h1>
        <p>This site is just made by me, with code ideas from the internet (not rip off directly but as assistant
            what I can use to get the result I want). But the design it self is just after what I thought is easy to
            code and others to use, furthermore also limited of my abilities and knowledge.
        <p>

    </div>
</main>

{% endblock %}