{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<main>
    <div>
        <h1>Library</h1>
        <div style="margin: 2em;">
            <div
                style="border-radius: 0.5em;border: 0.2px solid black;background-color: #116811;padding: 2px;box-shadow: 8px 5px 15px 2px black;">
                <form method="post" style="border: none;box-shadow:none;">
                    <fieldset>
                        <table style="width: 100%;">
                            <tr>
                                <th> <input class="table_button" type="submit" name="add-book" value="add or edit book">
                                </th>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
            <div>
                <h1>Under construction!!!!!!!</h1>
            </div>
        </div>
    </div>
</main>

{% endblock %}