{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<main>
    <div>
        <h1>Library</h1>
        <div style="margin: 2em;">
            <h1>Under construction!!!!!!!</h1>
        </div>
    </div>
</main>

{% endblock %}