{% extends 'base.html.twig' %}

{% block title %}{{title}}
{% endblock %}

{% block body %}



<main>
    <div>
        <h1>Nothing to see</h1>
        <p>You get {{ran}}  years of unfortunate, to see this page. good luck.......
        <p>
           <img src="./img/no-image-found.avif" alt="Image">

    </div>
</main>


{% endblock %}