{% extends 'base.html.twig' %}

{% block title %}{{title}}
{% endblock %}

{% block body %}



<main>
    <div>
        <h1>Nothing to see</h1>
        <p>You get ten years of unfortunate, to see this page. good luck.......
        <p>

    </div>
</main>


{% endblock %}