###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/*
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###


###Non public info only local, meaning it should never end up on github###
/public/.htaccess
public/.htaccess
templates/page/report.html.twig
.env
.env
.env.dev
.env.test
public/img/uml_classes.drawio.png
templates/page/doc.html.twig
docs/api/*
.phpdoc/*
tools/*
public/img/werd-error.png
public/img/test.png

public/uploads/*
docs/coverage/*
public/img/lib.png
