{% extends 'proj/heders/base-proj.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<main>
    <div>
        <h1>About</h1>
        <div style="margin: 2em;">
            <p>hang tight this page will be updated soon I hope.
            <p>
                <a href="https://github.com/broken1arrow/mvc_project" target="_blank">Link to github</a>

                <a href="{{path('database')}}" class="button" style="width: 3em;height: 0.5em;">database</a>

        </div>
    </div>
</main>

{% endblock %}