{% extends 'proj/heders/base-proj.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<main>
    <div>
        <h1>About</h1>
        <div style="margin: 2em;">
            <p>This site presents a chart displaying statistics on temperature, wildfires, and pollution.
                The purpose of this site is to showcase some statistics about global changes and encourage you to search
                for more information regarding the global impact of human activities. The statistics are intended for
                educational purposes and should not be confused with absolute facts or the full truth. It is important
                to approach this information with a critical eye, as I do not provide sources, and the data could
                potentially be biased in certain directions.
            </p>
            <p>Please do not use this information to spread false propaganda for your own gain, as that is selfish and
                can harm others and distort the actual reality. Instead, I encourage you to engage with the data
                responsibly and seek out credible sources to form a well-rounded understanding of these critical issues.
            </p>
            <p>hang tight this page will be updated soon I hope.
            <p>
                <a href="https://github.com/broken1arrow/mvc_project" target="_blank">Link to github</a>

                <a href="{{path('database')}}" class="button" style="width: 3em;height: 0.5em;">database</a>

        </div>
    </div>
</main>

{% endblock %}