{% extends 'proj/heders/base-proj.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<main>
    <div>
        <h1>API</h1>
        <div style="margin: 2em;">
         {{form(form)}}
        </div>
    </div>
</main>

{% endblock %}